extends base

block content 
    main 
        div.grid.grid-cols-6
            div.col-span-1 
                nav
                    div.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer
                        a(href='#') All items
                    div.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer
                        a(href='/') Home   
                    div.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer
                        a(href='#') Contact          
                    div.px-8.py-2.bg-lime-500.text-gray-100.font-bold.border-2.border-white.cursor-pointer
                        a(href='#') About

            div.col-span-5.text-gray-600
                div
                    img(src=`/img/items/${item.itemCoverImage}`, alt=`${item.itemName}`)
                div 
                    h1= item.itemName

                div
                    h4= item.itemName
                    span.block.comment= item.itemDescription

                div
                    
                    span= item.itemValue 
                    span is value
                    
                    span= item.itemAverageRating
                    span= `is rating from ${item.numberOfRatings} votes`
                    a(href=`/items/${item._id}`) Details

                div    
                    div.flex.justify-evenly
                        each itemImage in item.itemOtherImages
                            div(class="w-1/4 p-4")
                                img(src=`/img/items/${itemImage}`, alt=`${item.itemOtherImages}`)     
                
                div
                    div 
                        each review in reviews 
                            div
                                span.block.comment= review.review  
                                span= review.createdFromUser.name 
                                img.border-4(src=`/img/users/${review.createdFromUser.photo}`, alt='user photo')