extends base

block content
    main
        div.mx-1(class='sm:mx-4')
            div.flex.flex-wrap.bg-grey-400.m-1.p-1(class='sm:flex-nowrap sm:m-4 sm:p-4')
                .w-auto.h-fit.bg-white.border.border-gray-200.rounded-lg(class='sm:w-1/3 dark:bg-gray-800 dark:border-gray-700')              
                    img.p-8.rounded-t-lg(src=`/img/items/${item.itemCoverImage}`, alt='product image')
                    .px-5.pb-5
                        h5.text-xl.font-semibold.tracking-tight.text-gray-900(class='dark:text-white')= item.itemName
                        .flex.items-center.mb-4
                            .flex.items-center
                                svg(xmlns="http://www.w3.org/2000/svg" width='20' height='20')
                                    polygon(style='fill:#facc15;' points='0,7 20,7 3,20 10,0 17,20')
                                p.m-2.text-sm.font-bold.text-gray-900(class='dark:text-white')= item.itemAverageRating
                                span.w-1.h-1.bg-gray-500.rounded-full(class='mx-1.5 dark:bg-gray-400')
                                span.text-sm.font-medium.text-gray-900(class='hover:no-underline dark:text-white')= `from ${item.numberOfRatings} reviews`     
                        .flex.items-center.justify-evenly
                            span.text-3xl.font-bold.text-gray-900(class='dark:text-white')= item.itemValue
                            a.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.text-center(href=`/item/${item._id}`, class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Details
                .p-8(class='sm:w-2/3')
                    h4.text-2xl.text-center.font-semibold= item.itemName
                    span.text-grey-800.text-justify.text-wrap.hyphens-auto(lang='en')= item.itemDescription                    
            div    
                div(class='sm:flex sm:justify-evenly')
                    each itemImage in item.itemOtherImages
                        div(class="sm:flex sm:w-1/3 sm:p-4")
                            img(src=`/img/items/${itemImage}`, alt=`${item.itemOtherImages}`)                 
                form#userReview
                    span Left a review 
                    if user
                        textarea#leftReview.form-input.m-1(rows='4', cols='30', name='leftReview', placeholder='add review', maxlength='500', minlength='3', data-user=`${user._id}`, data-item=`${item._id}`)
                    else 
                        textarea.form-input.m-1(rows='4', cols='30', name='leftReview', placeholder='Log in to add  a review', maxlength='500', minlength='3')
                    button.log-btn(type='submit') add review
                div
                    div.p-8 
                        each review in reviews 
                            if review.reviewActive
                                div.flex.border-4
                                    div
                                        img.w-8.h-8.rounded-full(src=`/img/users/${review.createdFromUser.photo}`, alt='user photo' class='sm:w-12 sm:h-12')
                                        span.font-bold= review.createdFromUser.name 
                                    span.ml-4.mt-6.comment.text-justify= review.review