extends base

block content
    main
        div.mx-4.grid.grid-cols-6
            .col-span-1 
                div 
                    a.btn(href='#') edit item's details

            .col-span-3 
                div.form-wrapper
                    h2= user.name
                    form#updateItemForm
                        div
                            label(for='name') Name of the item
                            input#itemName(type='text', name='name', value=`${item.itemName}`)
                        div
                            label(for='itemValue') Value of the item
                            input#itemValue(type='text', name='name', value=`${item.itemName}`)
                        div
                            label(for='itemDescription') Description of the item
                            input#itemDescription(type='text', name='name', value=`${item.itemName}`)
                        div
                            img(src=`/img/items/${item.itemCoverImage}`, alt='itemcover')
                            input#itemCoverImage(type='file', name='itemCoverImage')
                            label(for='itemCoverImage') Change item cover image
                        div
                            img(src=`/img/items/${item.itemCoverImage}`, alt='itemcover')
                            input#itemCoverImage(type='file', name='itemCoverImage')
                            label(for='itemCoverImage') Change item cover image
                        div    
                        div.flex.justify-evenly
                            each itemImage in item.itemOtherImages
                                div(class="w-1/4 p-4")
                                    img(src=`/img/items/${itemImage}`, alt=`${item.itemOtherImages}`)     
                
                        div
                            div.p-8 
                                each review in reviews 
                                    div.flex.border-4
                                        div
                                            img.w-16.h-16.rounded-full(src=`/img/users/${review.createdFromUser.photo}`, alt='user photo')
                                            span.font-bold= review.createdFromUser.name 
                                        span.ml-4.mt-6.comment.align-middle= review.review 
                        div.p-4
                            button(type='submit') Update
            .col-span-2 
                div.flex-col
                    - if (user.role === 'admin')                         
                        a.block.m-4.btn(href='/manage-items') manage items                         
                        a.block.m-4.btn(href='#') manage users                         
                        a.block.m-4.btn(href='#') manage reviews