extends base

block content
    section.section-form
        div.flex.flex-wrap
            aside.m-2.items-start
                include _sidebar
                +sidebar("sidebar", {name: "Add item", href: "/add-item"}, {name: "Category 2", href: "#"}, {name: "Category 3", href: "#"}, {name: "Category 4", href: "#"}, {name: "Category 5", href: "#"}, {name: "Category 6", href: "#"})
            
            div
                
                each item in items
                    - const activeColor = item.active ? '' : 'bg-slate-500 text-slate-300'
                    div.border-2.border-gray-500.m-1.p-1.wrap(class=`${activeColor}`)
                        .flex.flex-wrap
                            div.max-w-72                       
                                p.font-semibold= item.itemName
                                p= item.itemValue 
                                p= item.itemDescription
                            div.m-1
                                img.w-16.h-16.border-2.border-gray-400.m-2(src=`/img/items/${item.itemCoverImage}`, alt='itemcover')   
                            div.flex.flex-wrap.justify-evenly
                                if (item.itemOtherImages[0])
                                    img.size-16.m-1(src=`/img/items/${item.itemOtherImages[0]}`)
                                if (item.itemOtherImages[1])
                                    img.size-16.m-1(src=`/img/items/${item.itemOtherImages[1]}`)
                                if (item.itemOtherImages[2])
                                    img.size-16.m-1(src=`/img/items/${item.itemOtherImages[2]}`) 
                            div 
                                input.mx-4(class='items-checkbox' type='checkbox' id=`${item._id}`)       
                        div.p-2.m-1
                            a.btn-log(href=`/item-update/${item._id}`) click here to update
            div.w-auto
                div.hidden.fixed(class='sm:inline-block')
                    button#disable-items.btn-log.my-8(type='button') Disable selected
                    button#enable-items.btn-log.my-8(type='button') Activate selected
                    div
                        button#enable-items-delete.btn-red.mx-4(type='button') Enable delete
                        button#delete-items-final.btn-red.my-8(type='button' style='display: none;') Delete selected
                    div#select-warrning.text-bold.text-red-500.m-8
            //- div
            //-     div.m-4
            //-         a.btn-log(href='/add-item') add new item
                //- div.w-full.h-full
                //-     iframe.p-2.w-full.h-full(src='' name='itemUpdate')
        
            
            //- div.flex.w-auto.wrap        
            //-     each item in items    
            //-         div.form-wrapper.inline
                    
            //-             h3=`${item.itemName}`
            //-             form.space-y-4.m-4
            //-                 div
            //-                     label.form-label(for='name') Your name
            //-                     input#itemName.form-input(type='text', name='name', value=`${item.itemName}`)                        
            //-                 div
            //-                     label.form-label(for='itemValue') Value of item
            //-                     input#itemValue.form-input(type='text', name='itemValue', value=`${item.itemValue}`)
            //-                 div 
            //-                     img#currentCoverImage.w-20.h-20.m-4.flex-none(src=`/img/items/${item.itemCoverImage}`, alt='item cover image')
            //-                     label.form-label(for='coverImage') Change cover image
            //-                     input#coverImage.form-input(type='file', name='itemCoverImage')
            //-                 div 
            //-                     button.btn(type='submit') Update
                                        
                                            