extends base

block content
    section.section-form.flex
        aside.flex
            .flex.m-4.flex-col.justify-start
                include _sidebar
                +sidebar("sidebar", {name: "Category 1", href: "#"}, {name: "Category 2", href: "#"}, {name: "Category 3", href: "#"}, {name: "Category 4", href: "#"}, {name: "Category 5", href: "#"}, {name: "Category 6", href: "#"})

            div.col-span-5
                
                    each item in items
                        div.m-4.bg-white.rounded.border-2.border-gray-700
                        
                            div
                                img.w-24.h-24(src=`img/items/${item.itemCoverImage}`, alt=`${item.itemName}`)
                                span.text-gray-600.text-2xl= item.itemName
                                span.m-2= `value: ${item.itemValue}`
                                span.m-2= `rating: ${item.itemAverageRating}`
                                span.m-2= `${item.numberOfRatings} reviews`
                                button.btn Update Item
                            