extends base

block content
    section.section-form
        .flex
            aside.w-auto.m-2.items-start
                include _sidebar
                +sidebar("sidebar", {name: "Category 1", href: "#"}, {name: "Category 2", href: "#"}, {name: "Category 3", href: "#"}, {name: "Category 4", href: "#"}, {name: "Category 5", href: "#"}, {name: "Category 6", href: "#"})
            
            div(class='w-1/2')
                each review in reviews
                    if review.reviewActive   
                        div.w-auto.border-2.border-gray-700.m-1.p-1.wrap
                            div.flex.w-auto
                                div.w-auto   
                                    if review.aboutItem                        
                                        span= `About: ${review.aboutItem.itemName}` 
                                    if review.createdFromUser
                                        span= `From user: ${review.createdFromUser.name}`
                                div.w-auto
                                    if review.createdFromUser 
                                        img.w-16.h-16.rounded-full.mx-4(src=`/img/users/${review.createdFromUser.photo}`)
                                div.w-auto.p-2.m-1
                                    
                                    input.mx-4(class='reviews-checkbox' type='checkbox' id=`${review._id}`)
                            span.m-1.border-t-2.border-slate-400= review.review
                    else 
                        div.w-auto.bg-slate-500.text-slate-300.m-1.p-1.wrap
                        
                            div.flex.w-auto
                                div.w-auto   
                                    if review.aboutItem                        
                                        span= `About: ${review.aboutItem.itemName}` 
                                    if review.createdFromUser
                                        span= `From user: ${review.createdFromUser.name}`
                                div.w-auto 
                                    if review.createdFromUser 
                                        img.w-16.h-16.rounded-full.mx-4(src=`/img/users/${review.createdFromUser.photo}`)
                                div.w-auto.p-2.m-1
                                    input.mx-4(class='reviews-checkbox' type='checkbox' id=`${review._id}`)
                                div.w-auto 
                                    span.text-2xl Deactivated
                            span.m-1.border-t-2.border-slate-400= review.review
            div.w-auto
                div.hidden.fixed(class='sm:inline-block')
                    button#disable-reviews.btn-log.my-8(type='button') Disable selected
                    button#enable-reviews.btn-log.my-8(type='button') Activate selected
                    div
                        button#enable-reviews-delete.btn-red.mx-4(type='button') Enable delete
                        button#delete-reviews-final.btn-red.my-8(type='button' style='display: none;') Delete selected
                    div#select-warrning.text-bold.text-red-500.m-8                                            