extends base

block content
    section.section-form
        div.flex.w-auto
            aside.m-2.items-start.hidden(class='sm:block')
                include _sidebar
                +sidebar("sidebar", {name: "Category 1", href: "#"}, {name: "Category 2", href: "#"}, {name: "Category 3", href: "#"}, {name: "Category 4", href: "#"}, {name: "Category 5", href: "#"}, {name: "Category 6", href: "#"})
            
            div.flex-col.w-auto
                
                each user in users
                    if user.active
                        div.border-2.border-gray-700.wrap(class='sm:m-2 sm:p-2')
                            .flex 
                                div                       
                                    p.font-semibold= user.name
                                    p= user.email
                                    p= user.role
                                div.m-1
                                    img.w-8.border-2.border-gray-400(src=`/img/users/${user.photo}`, alt='user photo' class='sm:w-16')   
                    
                                input.mx-1(class='users-checkbox sm:mx-4' type='checkbox' id=`${user._id}`)
                    else 
                        div.bg-slate-500.text-slate-300.border-2.wrap(class='sm:m-2 sm:p-2')
                            .flex 
                                div                       
                                    p.font-semibold= user.name
                                    p= user.email
                                    p= user.role
                                    p DEACTIVATED
                                div.m-1
                                    img.w-8.border-2.border-gray-400(src=`/img/users/${user.photo}`, alt='user photo' class='sm:w-16')   
                    
                                input.mx-1(class='users-checkbox sm:mx-4' type='checkbox' id=`${user._id}`)
                                

            div.w-auto
                div.hidden.fixed(class='sm:inline-block')
                    button#disable-users.btn-log.my-8(type='button') Disable selected
                    button#enable-users.btn-log.my-8(type='button') Activate selected
                    div
                        button#enable-users-delete.btn-log.mx-4(type='button') Enable delete
                        button#delete-users-final.btn-log.my-8(type='button' style='display: none;') Delete selected
                    div#select-warrning.text-bold.text-red-500.m-8
        
            
            //- div.flex.w-auto.wrap        
            //-     each item in items    
            //-         div.form-wrapper.inline
                    
            //-             h3=`${item.itemName}`
            //-             form.space-y-4.m-4
            //-                 div
            //-                     label.form-label(for='name') Your name
            //-                     input#itemName.form-input(type='text', name='name', value=`${item.itemName}`)                        
            //-                 div
            //-                     label.form-label(for='itemValue') Value of item
            //-                     input#itemValue.form-input(type='text', name='itemValue', value=`${item.itemValue}`)
            //-                 div 
            //-                     img#currentCoverImage.w-20.h-20.m-4.flex-none(src=`/img/items/${item.itemCoverImage}`, alt='item cover image')
            //-                     label.form-label(for='coverImage') Change cover image
            //-                     input#coverImage.form-input(type='file', name='itemCoverImage')
            //-                 div 
            //-                     button.btn(type='submit') Update
                                        
                                            